@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
    background-color: #E5F2F6;
    margin: auto;
    max-width: 1280px;

}


main{
    width: 70%;
    margin: auto;
    
    article {
        width: 100%;
        background-color: #6DA6C7;
    }
    // MEET US
    .meet-us{
        font-family: 'Montserrat', sans-serif;
        padding-left: 2%;

        h1{
            font-size: 7.28vh;
            margin-bottom: .5vw;
            padding: 2%;
        }
        p{
            max-width: 60%;
            font-size: 1.2vw;
            padding: 2%;
        }
    }

    #meet-cards{
        font-family: 'Montserrat', sans-serif; 

        .meet-content{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;

            .meet-people{
                padding: 20px 20px;
                background: #6DA6C7;
                color: #fff;
                margin: 10px;
                text-align: center;

                img{
                    min-width: 100%;
                    max-width: 10vw;
                    min-height: 45%;
                }

                h5{
                    font-size: 1.6vw;
                    margin: 1vh;
                }

                p{
                    font-size: 1.2vw;
                }
            }
        }
    } 
}

@media screen and (min-width: 1280px){
    #meet-cards{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (max-width: 768px){
    #meet-content{
        width: 100%;
    }
    
    main{
        width: 95%;
    }

    section{
        padding: 2% 2%;
    }
    .meet-people{
        width: 30%;
        padding: 10px;
    }
}

@media (max-width: 600px){
    section{
        padding: 100px 20px;
    }
    .meet-people{
        width: 60%;
        padding: 10px;
    }
}