* {

	text-decoration: none;
}
body,
html {
	margin: auto;
	background-color: #e5f2f6;
	background: url(/assets/images/nicewaitingroom.jpg);
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
main {
	margin: auto;
	width: 70%;
	opacity: 90%;
	max-width: 1280px;
	padding-bottom: 2vh;
}
main article {
	border: 3px black solid;
	margin-bottom: 1em;
	background-color: #6da6c7;
}
main article header {
	padding-bottom: 0.5em;
	border-bottom: 3px black dotted;
}
main article header h3 {
	font-size: 2vw;
	padding-left: 0.5em;
	padding-top: 0.5em;
}
main article ul {
	border: 3px, 0, 0, 0 solid black;
	line-height: 2;
	list-style: none;
	padding-left: 0.5em;
}
main article ul li {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 85% 15%;
	grid-template-columns: 85% 15%;
	-ms-grid-rows: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	font-size: 1.3vw;
	line-height: 3vw;
}
main article ul li > :first-child {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
main article ul li > :nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
main article ul li > :nth-child(3) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
main article ul li > :nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
main article ul li > :nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
main article ul li > :nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
}
main article ul li > :nth-child(7) {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
}
main article ul li > :nth-child(8) {
	-ms-grid-row: 4;
	-ms-grid-column: 2;
}
main article ul li span {
	-webkit-box-pack: end;
	-webkit-justify-content: end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
}
main button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 2em;
	width: 10em;
	font-size: 2vw;
	background-color: #32677a;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	margin: auto;
}
h1 {
	line-height: 10vw;
	font-size: 4vw;
	color: white;
	-webkit-text-stroke: 2px black;
}

